<div data-ng-controller="notesController">
  <h1>Please select a student to create a new Personalize Growth Plan</h1>

  <!-- <div ng-controller="notesController">
  <!-- <ul>
    <li ng-repeat="color in colors">
      Name: <input ng-model="color.name">
      [<a href ng-click="colors.splice($index, 1)">X</a>]
    </li>
    <li>
      [<a href ng-click="colors.push({})">add</a>]
    </li>
  </ul> -->

  <!-- Color (null not allowed):
  <select ng-model="myColor" ng-options="color.name for color in colors"></select>

  Currently selected: {{ {selected_color:myColor} }}
  <div> style="border:solid 1px black; height:20px"
       ng-style="{'background-color':myColor.name}">
  </div> -->

</div> -->

  <select>
    <option ng-class="{}" ng-repeat="note in notes">
      {{note.name}} {{note.rtg1}} {{note.rtg2}}
    </option>
  </select>

  <article class="newSurvey">
    <form class="newSurvey_form">
      <fieldset>
        <legend>Student Information</legend>
        <label ng-repeat="note in notes" class="newSurvey_form-text">{{note.name}}</label>
        <label class="newSurvey_form-text">{{note.course}}</label>
      </fieldset>

      <fieldset>
        <legend>Student's Self Assesment</legend>
        <label class="newSurvey_form-lbl">HTML</label>
        <label class="newSurvey_form-lbl">{{note.rtg1}}</label>

        <label class="newSurvey_form-lbl">CSS</label>
        <label class="newSurvey_form-lbl">{{note.rtg2}}</label>

        <label class="newSurvey_form-lbl">Javascript</label>
        <label class="newSurvey_form-lbl">{{note.rtg3}}</label>
      </fieldset>

      <fieldset>
        <legend>Goals</legend>
        <textarea readonly class="newSurvey_form-text" type="text">{{note.note}}</textarea>
      </fieldset>

      <fieldset>
        <legend>Questions/Concerns?</legend>
        <textarea class="newSurvey_form-text" type="text">{{note.noteBody}}</textarea>
      </fieldset>

      <button>Save PGP</button>

    </form>
  </article>
</div>
