<div data-ng-controller="notesController">
  <article class="newSurvey">
    <form class="newSurvey_form">
      <fieldset>
        <h1>Your Personalized Growth Plan is complete! Please select your name below to view.</h1>
        <select ng-model="selectedNote" ng-options="note.name for note in notes">
        </select>
        <label class="newSurvey_form-text">{{selectedNote.course}}</label>
      </fieldset>

      <fieldset>
        <legend>Student's Self Assessment</legend>
        <label class="newSurvey_form-lbl">HTML:</label>
        <label class="newSurvey_form-lbl">{{selectedNote.rec1}}</label>

        <label class="newSurvey_form-lbl">CSS:</label>
        <label class="newSurvey_form-lbl">{{selectedNote.rec2}}</label>

        <label class="newSurvey_form-lbl">Javascript:</label>
        <label class="newSurvey_form-lbl">{{selectedNote.rec3}}</label>

         <label class="newSurvey_form-lbl">Instructor's Notes:</label>
        <label class="newSurvey_form-lbl">{{selectedNote.feedbk}}</label>
      </fieldset>
    </form>
  </article>
</div>
